@media only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: white;
        padding: 5px 0px;
        left: 0px;
        justify-content: center !important;
    }
    .whatsappbtn, .call{
        padding: 7px 15px;
        font-size: 14px;
    }
    .bannerContent h1{ 
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
    }
    .bannerContent br{
        display: none;
    }

    .bannerContent p, .bannerContent ul li{
        font-size: 16px;
    }

    .bannerContentBtn{
        flex-direction: column;
    }

    .bannerContentBtn button{
        width: 100%;
    }

    .bannerForm{
        padding: 20px;
    }

    .highlight-section h2{        
        font-size: 22px;        
    }
}



@media only screen and (min-width:576px) and (max-width:768px){
    .btn-outer{
        position: fixed;
        /*bottom: 0px;*/
        top: 75px;
        width: 100%;
        left: 0px;
        justify-content: center !important;
    }
    .bannerContent h1{ 
        /*font-size: 28px;*/
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        margin-top: 25px;
    }
    .bannerContent br{
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:992px){
    .btn-outer{
        /*position: fixed;*/
        /*bottom: 0px;*/
        top: 75px;
        width: 100%;
        /*left: 0px;
        justify-content: center !important;*/
    }
    .whatsappbtn{
        position: absolute;
        left: 8px;
        top: 75px;
    }
    .call{
        position: absolute;
        right: 8px;
        top: 75px;
    }
    .bannerContent h1{ 
        /*font-size: 30px;*/
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        margin-top: 30px;
    }
    .bannerContent br{
        display: none;
    }
}




@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}